@use '../variable.sass' as v

.footer
    justify-content: space-between
    align-items: center
    background: black
    padding: 32px

.footer-list
    h4
        margin: 2px
        margin-right: 1rem


.footer-logo
    font-size:2rem


.footer-list-text
    margin-right: 1rem
    color: #aaaebc
    
.footer-copyright-text
    color: #aaaebc
