@use '../variable.sass' as v


.search-form
    margin: 8px
    padding:8px
    background: #252830
    border-radius: 4px
    width: 100%
    .fa-search
        font-size: 20px

.search-form-input
    font-size: 20px
    font-weight: bold
    background: #252830
    width:100%
    border: 0
    padding-left: 16px
