@use '../variable.sass' as v
@use '../mixin.sass' as m


.sidebar
    background: v.$sidebar-color
    @include m.sm-max
        display: none


.sidebar-munu
    a
        display: block
        padding-left: 16px
    a:hover
        background: black


.sidebar-list
    margin-left: 0
    padding-left: 0
    list-style-type: none

.sidebar-list-sub-title
    margin-left: 16px
    margin-bottom: 0.2rem
    font-size: v.$sidebar-font-size


.sidebar-get-start-text
    margin:0.2rem
    font-size: 0.8rem
    text-align: center
    color: #b7bbc8

.sidebar-intro-text
    background: black
    padding: 8px
    width:100%
