@use '../variable.sass' as v
@use '../mixin.sass' as m


.text-important
    font-weight: bold

.text-hilight
    font-weight: 900

.text-primary
    color:  #47cf73

.text-secondary
    color:  v.$light-Blue

.text-light-secondary
    color:#7a99ad

.text-info
    color: #b7bbc8

.text-warning
    color: v.$color-warning

.text-light-warning
    color:#e1ca72

.text-number
    color:#a88038

.text-variable-name
    color:#74b087

.text-property
    color:#9f8198

.text-blink
    animation: blink 1s infinite
@keyframes blink
    0%
        opacity:  0
    50%
         opacity: 0
    50%
        opacity:  1
    100%
         opacity: 1

.chevron-down-position
    text-align: right

.get-start-text
    margin:0.2rem
    font-size: 0.8rem
    text-align: center
    color: #b7bbc8

.sidebar-intro-text
    background: black
    padding: 8px
    width:100%